<div class="container">
  <div class="text-center">
    <h1><%= @store.name %></h1>
    <p><%= @store.slogan %></p>

    <% if !@products.empty? %>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Produto</th>
          <th scope="col">Valor</th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td><%= link_to product.name, product_path(product) %></td>
            <td>R$ <%= product.value %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>Nenhum produto cadastrado!</p>
  <% end %>

        <%= link_to 'Adicionar Produto', "/stores/#{@store.id}/products/new" %>
  </div>
</div>

