<!DOCTYPE html>
<html>
  <head>
    <title>Gecommerce</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Menu navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Gecommerce</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to 'Início', root_path, class: "nav-link"%>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= allstores_path%>">Lojas</a>
          </li>
          <% if customer_signed_in? %>
          <li class="nav-item">
            <a class="nav-link" href="<%=stores_path%>">Minhas Lojas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Meus Pedidos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%=destroy_customer_session_path%>" data-method="DELETE">Sair</a>
          </li>
        <% else %>
          <li class="nav-item">
            <a class="nav-link" href="<%=new_customer_session_path%>">Entrar</a>
          </li>
        <% end %>
        </ul>
      </div>
    </nav>
    <!-- fim menu -->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
